text {
  font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
  font-size: 10pt;
}

rect {
  fill: white;
  stroke: black;
}

.selected {
  fill: #eee;
}

.header {
  position: absolute;
  width: 100%;
  background-color: #eee;  
  top: 0px;
  left: 0px;
  height: 20px;
}

text {
  pointer-events: none
}

.infobox {
  padding: 5px;
}